<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, minimum-scale=1, user-scalable=no" />
    <title>Race | Typearena</title>
    <link rel="stylesheet" href="/css/race.css">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/nav.css">
    <link rel="stylesheet" href="/css/signup.css">
    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Squada+One|Open+Sans&display=swap">
    <script
        src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous">
    </script>
    <script src = "/socket.io/socket.io.js"></script>
    <script src = "/js/raceSocket.js"></script>
    <script src="/progressbar.js/dist/progressbar.js";></script>
    <script src="/js/race.js";></script>
    <script src="/js/signup.js"></script>
    <script src="/js/login.js"></script>
</head>
<body>
    <div class='raceData' style="display: none; margin: 0; padding: 0;"><%=para%></div>
    <input class="userID" type="hidden" value= "<%=id%>" >
    <%- include('partials/navLoginSignup') %> 
    <section>
        <aside>
            <div>
                Aside 1 <br> Advertisement
            </div>
        </aside>
        <main>
            <div>
                <div class="meters">
                    <div id="progress1">
                        <div>
                            <div class="wpm wpm1">
                                
                            </div>
                        </div>
                        <div>
                            <div></div><br>
                            <div class='error error1 hideAccuracy'></div>
                        </div>
                    </div>
                    <div id="progress2">
                        <div>
                            <div class="wpm wpm2">
                            
                            </div>
                        </div>
                        <div>
                            <div></div><br>
                            <div class='error error2 hideAccuracy'></div>
                        </div>
                    </div>
                    <div id="progress3">
                        <div>
                            <div class="wpm wpm3">   
                            </div>
                        </div>
                        <div>
                            <div></div><br>
                            <div class='error error3 hideAccuracy'></div>
                        </div>
                    </div>
                    <div id="progress4">
                        <div>
                            <div class="wpm wpm4">
                                
                            </div>
                        </div>
                        <div>
                            <div></div><br>
                            <div class='error error4 hideAccuracy'></div>
                        </div>
                    </div> 
                    <div id="progress5">
                        <div>
                            <div class="wpm wpm5">
                                
                            </div>
                        </div>
                        <div>
                            <div></div><br>
                            <div class='error error5 hideAccuracy'></div>
                        </div>
                    </div>
                </div>
                <br>
                <div  class='text'>
                    <span class='typed'></span><span class="cursor"></span><span class="tbt"></span>
                    <div id='Author'>- <a target="_blank" href="https://www.google.com/search?q=<%=author%>"><%=author%></a></div>
                    </div>
                <br>
                <div>
                    <input class="ty" type="text">
                    <div class="below-text-input"><img src="/img/settingsIcon.svg" alt="Race settings"><img src="/img/chart.svg" alt="chart"></div>
                </div>
            </div>
        </main>
        <aside>
            <div>
                Aside 2 <br> Advertisement
            </div>
        </aside>
    </section> 
    <footer>
        Handcrafted in 🇮🇳 with ❤️
    </footer>
</body>
</html>
